node_modules/
network/organizations/
network/channel-artifacts/
config/
*.tar.gz


testbackend/application/sensor_data.db
testbackend/application/wallet/*/msp/keystore/

# Ignoriere die generierten Zertifikate des Netzwerks (dafür gibt es Skripte)
infrastructure/organizations/
infrastructure/channel-artifacts/
# Ignoriere Docker-Volumes falls vorhanden
infrastructure/system-genesis-block/